{% extends 'base_main.html'%}
{% load static %}
{% block titulo %}Usuarios{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">
<link rel="stylesheet" href="{% static 'toastr/build/toastr.min.css' %}">
{% endblock %}

{% block buscador %}
    {% include 'snippets/buscador.html' %}
{% endblock %}

{% block buscador-responsivo %}
    {% include 'snippets/buscador-responsivo.html' %}
{% endblock %}

{% block contenido %}
    <br>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-users mr-1"></i>
            Usuarios
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="data-table" width="100%" cellspacing="0"></table>
            </div>
        </div>
    </div>
    {% include 'snippets/modal_base.html' %}
{% endblock %}
{% block javascript %}
    <script type="application/javascript" src="{% static 'sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'toastr/build/toastr.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/tableRequest/defaultTableRequest.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/tableRequest/desbloquear.js' %}"></script>
    <script type="application/javascript">
        // Function reload table list user
        $(document).ready(() => {
            loadTableUsers($('#data-table'));
        })
        // function users
        function loadTableUsers(table){
            let $table = table;
            const url = "{% url 'main:list_users' %}"
            const lenguaje_url = "{% static 'js/lenguaje/lenguaje_es.json' %}";
            const columns = [
                {
                    data: '1',
                    title: 'Nombre de usuario'
                },
                {
                    data: '2',
                    title: 'Nombre',
                    filterable: false,
                    searchable: false,
                    sortable: false
                },
                {
                    data: '3',
                    title: 'Correo Electronico',
                    filterable: false,
                    searchable: false,
                    sortable: false
                },
                {
                    data: '4',
                    title: 'Estado'
                },
                {
                    data: '5',
                    title: 'Rol',
                    filterable: false,
                    searchable: false,
                    sortable: false
                },
                {
                    data: '0',
                    title: 'Acciones',
                    filterable: false,
                    searchable: false,
                    sortable: false,
                    width: '25%',
                    render: ((data, type, row, meta) => {
                        const editUrl = "{% url 'main:update_user' 0 %}".replace(0, data);
                        const deleteUrl = "{% url 'main:delete_user' 0 %}".replace(0, data);
                        const passwordUrl = "{% url 'main:password_user' 0 %}".replace(0, data);
                        const unlockUrl = "{% url 'main:unlock_user' pk=0 %}".replace(0, data);
                        const bloqueado = row[6];
                        let buttonBloqueado = '';
                        if (parseInt(bloqueado) >= 3) {
                            buttonBloqueado = `<button class="btn btn-primary btn-sm" title="Desbloquear Usuario" onclick="desbloquear(\'${unlockUrl}\', \'${row[1]}\', \'${bloqueado}\')"><i class="fas fa-unlock-alt"></i></button>`;
                        }
                        const editButton = `<div class='text-center'><a href='${editUrl}' class='btn btn-warning btn-sm' title="Editar"><i class="fas fa-edit"></i></a>`
                        const deleteButton = `<button type='button' class='btn btn-danger btn-sm' title="Eliminar" onclick="eliminarData(\'${deleteUrl}\')"><i class="fas fa-trash-alt"></i></button>`;
                        const keybutton = `<button class="btn btn-info btn-sm" title="Cambiar contraseña" onclick="dataFormModal(\'${passwordUrl}\')"><i class="fas fa-key"></i></button></div>`;
                        return editButton + ' ' + deleteButton + ' ' + buttonBloqueado + ' ' + keybutton;
                    })
                }
            ];
            $table.DataTable(postDefaultTableRequest(url, lenguaje_url, columns))
        }
    </script>
{% endblock %}