{% extends 'base_main.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}Editar usuario{% endblock %}

{% block contenido %}
    <br>
    <form method="post" action="" enctype="multipart/form-data" novalidate autocomplete="off">
         <div class="card">
            <div class="card-body">
                <div class="title-block">
                    <h4 class="title">Datos del Usuario</h4>
                    <hr/>
                </div>
                {% include "snippets/_form_non_field_errors.html" %}
                <div class="form-horizontal">
                    {% crispy form %}
                </div>
            </div>
            <div class="card-footer text-right">
               {% url 'guias:index_customers' as cancel_url %}
               {% include "snippets/_form_default_buttons.html" with cancel_url=cancel_url %}
            </div>
        </div>
    </form>
    <script>
    var section_personal_references = document.getElementById('personal_references').getElementsByTagName('input');
    var circle_buttons = document.getElementsByClassName('rounded-pill');
    let counter=0;
    for(let e=0;e<circle_buttons.length;e++){
        circle_buttons[e].classList.add('d-none');
    }
    for (let i=0; i<section_personal_references.length;i++){
        if (section_personal_references[i].value.length == 0){
            counter++;
        }
    } 
    if (counter>3) {
        document.getElementById('personal_references').style.display = 'none';
        document.getElementById('header_personal_references').style.display='none';
    } else {
        document.getElementById('familiar_references').style.display = 'none';
        document.getElementById('header_familiar_references').style.display='none';
    }
    </script>
{% endblock %}
