{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

    <title>ISSE EXPRESS</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">ISSE EXPRESS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Rastreo de producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sucursales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contáctenos</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Login</a>
                </li>
              </ul>
            </div>
          </nav>

          
    
        {% block body %}
        {% endblock %}

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright
      <a href="https://mdbootstrap.com/"> ISSE EXPRESS</a>
    </div>
    <!-- Copyright -->
  
     </footer>
     <!-- Footer -->

        

        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" charset="UTF-8" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>